@model EditClientBaseModel

@{
    ViewBag.Title = "编辑";
}

<h2>@ViewBag.Name:@ViewBag.Title</h2>

@using (Html.BeginForm("EditSave", (string)ViewBag.Controller))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)
        <div class="editor-label">
            @Html.LabelFor(model => model.Client)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => model.Client)
            <div style="display:none">
                @Html.EditorFor(model => model.Client)
            </div>
        </div>
        @Html.EditorForModel()
        <p>
            <input type="submit" value="保存" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">取消</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
