@model AccumulationRule

<div class="display-label">
    @Html.LabelFor(model => model.Id)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Id)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.CityId)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.City.Name)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.SupplierId)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Supplier.Name)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.HukouType)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.HukouType)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.AccumulationTypeId)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.AccumulationType.Name)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Gjjjssx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Gjjjssx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Gjjjsxx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Gjjjsxx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Gjjgrbl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Gjjgrbl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Gjjqybl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Gjjqybl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Gjjgrgdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Gjjgrgdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Gjjqygdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Gjjqygdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Bcgjjjssx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Bcgjjjssx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Bcgjjjsxx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Bcgjjjsxx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Bcgjjgrbl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Bcgjjgrbl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Bcgjjqybl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Bcgjjqybl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Bcgjjgrgdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Bcgjjgrgdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Bcgjjqygdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Bcgjjqygdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.NumberRule)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.NumberRule)
</div>

