@model CitySupplierBaseModel

<div class="display-label">
    @Html.LabelFor(model => model.Id)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Id)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.CityId)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.City.Name)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.SupplierId)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Supplier.Name)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>