@model ClientCityBaseModel

<div class="editor-label">
    @Html.DisplayNameFor(model => model.Id)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Id)
</div>
<div class="editor-label">
    @Html.DisplayNameFor(model => model.ClientCity.ClientId)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.ClientCity.Client.Name)
</div>
<div class="editor-label">
    @Html.DisplayNameFor(model => model.ClientCity.CityId)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.ClientCity.City.Name)
</div>
<div class="editor-label">
    @Html.DisplayNameFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Name)
</div>

