@model Client

<div class="display-label">
    @Html.LabelFor(model => model.Id)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Id)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.HRAPPUserId)
</div>
<div class="display-field">
    @if (Model.HRAPPUserId == null)
    {
        @:无
    }
    else
    {
        @Html.DisplayFor(model => model.HRAPPUser.UserName)
    }
</div>
<div class="display-label">
    @Html.LabelFor(model => model.WorkCities)
</div>
<div class="display-field multi">
    @foreach (var item in Model.GetWorkCities())
    {
        @Html.DisplayFor(m => item.Name)
    }
</div>
<div class="display-label">
    @Html.LabelFor(model => model.TaxCities)
</div>
<div class="display-field multi">
    @foreach (var item in Model.GetTaxCities())
    {
        @Html.DisplayFor(m => item.Name)
    }
</div>
<div class="display-label">
    @Html.LabelFor(model => model.PensionCities)
</div>
<div class="display-field multi">
    @foreach (var item in Model.GetPensionCities())
    {
        @Html.DisplayFor(m => item.Name)
    }
</div>
<div class="display-label">
    @Html.LabelFor(model => model.AccumulationCities)
</div>
<div class="display-field multi">
    @foreach (var item in Model.GetAccumulationCities())
    {
        @Html.DisplayFor(m => item.Name)
    }
</div>

