@model EnterDocument

<div class="display-label">
    @Html.LabelFor(model => model.Id)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Id)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.ClientId)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Client.Name)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.CityId)
</div>
<div class="display-field">
    @if (Model.City == null)
    {
        @:无
    }
    else
    {
        @Html.DisplayFor(model => model.City.Name)
    }
</div>
<div class="display-label">
    @Html.LabelFor(model => model.EnterDocuments)
</div>
<div class="display-field multi">
    @foreach (var item in Model.GetEnterDocuments())
    {
        @Html.DisplayFor(m => item.Name)
    }
</div>