@model PensionRule

<div class="display-label">
    @Html.LabelFor(model => model.Id)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Id)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.CityId)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.City.Name)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.SupplierId)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Supplier.Name)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.HukouType)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.HukouType)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.PensionTypeId)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.PensionType.Name)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Yljssx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Yljssx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Yljsxx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Yljsxx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Grylbl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Grylbl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Qyylbl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Qyylbl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Ylgrgdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Ylgrgdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Ylqygdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Ylqygdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Syjssx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Syjssx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Syjsxx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Syjsxx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Sygrbl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Sygrbl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Syqybl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Syqybl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Sygrgdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Sygrgdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Syqygdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Syqygdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Yiliaojssx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Yiliaojssx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Yiliaojsxx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Yiliaojsxx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Yiliaogrbl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Yiliaogrbl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Yiliaoqybl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Yiliaoqybl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Yiliaogrgdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Yiliaogrgdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Yiliaoqygdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Yiliaoqygdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Bcjssx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Bcjssx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Bcjsxx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Bcjsxx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Bcgrbl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Bcgrbl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Bcqybl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Bcqybl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Bcgrgdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Bcgrgdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Bcqygdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Bcqygdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Qtjssx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Qtjssx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Qtjsxx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Qtjsxx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Qtgrbl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Qtgrbl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Qtqybl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Qtqybl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Qtgrgdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Qtgrgdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Qtqygdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Qtqygdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Gsjssx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Gsjssx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Gsjsxx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Gsjsxx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Gsqybl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Gsqybl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Gsqygdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Gsqygdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Shengyujssx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Shengyujssx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Shengyujsxx)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Shengyujsxx)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Shengyuqybl)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Shengyuqybl)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Shengyuqygdjf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Shengyuqygdjf)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.NumberRule)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.NumberRule)
</div>



