@model AccumulationTaxFree
<div class="editor-label">
    @Html.LabelFor(model => model.Id)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Id)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.City.Name)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.City.Name)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Supplier.Name)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Supplier.Name)
</div>