@model ClientCityBaseModel
<div class="editor-label">
    @Html.LabelFor(model => model.ClientCity.ClientId)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.ClientCity.ClientId, new SelectList(BaseCommon<Client>.GetList(), "Id", "Name"), String.Empty)
    @Html.ValidationMessageFor(model => model.ClientCity.ClientId)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.ClientCity.CityId)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.ClientCity.CityId, new SelectList(BaseCommon<City>.GetList(), "Id", "Name"), String.Empty)
    @Html.ValidationMessageFor(model => model.ClientCity.CityId)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>
