@model EditClientCity
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.ClientId)

@Html.Action("AbstractEdit", "ClientCity", Model.Id)

<div>
    @Html.LabelFor(model => model.EnterDocumentsIds)
    @Html.ListBoxFor(model => model.EnterDocumentsIds, new MultiSelectList(ClientBaseCommon<Document>.GetClientList(Model.ClientId), "Id", "Name", Model.EnterDocumentsIds), new { @class = "multiselect2side", size = "10" })
    @Html.ValidationMessageFor(model => model.EnterDocumentsIds)
</div>