@model ClientCityBaseModel
@Html.HiddenFor(model => model.Id)

<div class="editor-label">
    @Html.LabelFor(model => model.Id)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Id)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.ClientId)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Client.Name)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.CityId)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.City.Name)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>
