@model PensionRule
@Html.HiddenFor(model => model.Id)

@Html.Action("AbstractEdit", Model.Id)
<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Yljssx)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Yljssx)
    @Html.ValidationMessageFor(model => model.Yljssx)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Yljsxx)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Yljsxx)
    @Html.ValidationMessageFor(model => model.Yljsxx)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Grylbl)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Grylbl)
    @Html.ValidationMessageFor(model => model.Grylbl)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Qyylbl)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Qyylbl)
    @Html.ValidationMessageFor(model => model.Qyylbl)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Ylgrgdjf)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Ylgrgdjf)
    @Html.ValidationMessageFor(model => model.Ylgrgdjf)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Ylqygdjf)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Ylqygdjf)
    @Html.ValidationMessageFor(model => model.Ylqygdjf)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Syjssx)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Syjssx)
    @Html.ValidationMessageFor(model => model.Syjssx)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Syjsxx)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Syjsxx)
    @Html.ValidationMessageFor(model => model.Syjsxx)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Sygrbl)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Sygrbl)
    @Html.ValidationMessageFor(model => model.Sygrbl)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Syqybl)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Syqybl)
    @Html.ValidationMessageFor(model => model.Syqybl)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Sygrgdjf)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Sygrgdjf)
    @Html.ValidationMessageFor(model => model.Sygrgdjf)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Syqygdjf)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Syqygdjf)
    @Html.ValidationMessageFor(model => model.Syqygdjf)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Yiliaojssx)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Yiliaojssx)
    @Html.ValidationMessageFor(model => model.Yiliaojssx)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Yiliaojsxx)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Yiliaojsxx)
    @Html.ValidationMessageFor(model => model.Yiliaojsxx)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Yiliaogrbl)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Yiliaogrbl)
    @Html.ValidationMessageFor(model => model.Yiliaogrbl)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Yiliaoqybl)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Yiliaoqybl)
    @Html.ValidationMessageFor(model => model.Yiliaoqybl)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Yiliaogrgdjf)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Yiliaogrgdjf)
    @Html.ValidationMessageFor(model => model.Yiliaogrgdjf)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Yiliaoqygdjf)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Yiliaoqygdjf)
    @Html.ValidationMessageFor(model => model.Yiliaoqygdjf)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Bcjssx)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Bcjssx)
    @Html.ValidationMessageFor(model => model.Bcjssx)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Bcjsxx)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Bcjsxx)
    @Html.ValidationMessageFor(model => model.Bcjsxx)
</div><div class="editor-label">
    @Html.LabelFor(model => model.Bcgrbl)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Bcgrbl)
    @Html.ValidationMessageFor(model => model.Bcgrbl)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Bcqybl)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Bcqybl)
    @Html.ValidationMessageFor(model => model.Bcqybl)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Bcgrgdjf)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Bcgrgdjf)
    @Html.ValidationMessageFor(model => model.Bcgrgdjf)
</div><div class="editor-label">
    @Html.LabelFor(model => model.Bcqygdjf)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Bcqygdjf)
    @Html.ValidationMessageFor(model => model.Bcqygdjf)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Qtjssx)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Qtjssx)
    @Html.ValidationMessageFor(model => model.Qtjssx)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Qtjsxx)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Qtjsxx)
    @Html.ValidationMessageFor(model => model.Qtjsxx)
</div><div class="editor-label">
    @Html.LabelFor(model => model.Qtgrbl)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Qtgrbl)
    @Html.ValidationMessageFor(model => model.Qtgrbl)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Qtqybl)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Qtqybl)
    @Html.ValidationMessageFor(model => model.Qtqybl)
</div><div class="editor-label">
    @Html.LabelFor(model => model.Qtgrgdjf)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Qtgrgdjf)
    @Html.ValidationMessageFor(model => model.Qtgrgdjf)
</div><div class="editor-label">
    @Html.LabelFor(model => model.Qtqygdjf)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Qtqygdjf)
    @Html.ValidationMessageFor(model => model.Qtqygdjf)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Gsjssx)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Gsjssx)
    @Html.ValidationMessageFor(model => model.Gsjssx)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Gsqybl)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Gsqybl)
    @Html.ValidationMessageFor(model => model.Gsqybl)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Gsqygdjf)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Gsqygdjf)
    @Html.ValidationMessageFor(model => model.Gsqygdjf)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Shengyujssx)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Shengyujssx)
    @Html.ValidationMessageFor(model => model.Shengyujssx)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Shengyujsxx)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Shengyujsxx)
    @Html.ValidationMessageFor(model => model.Shengyujsxx)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Shengyuqybl)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Shengyuqybl)
    @Html.ValidationMessageFor(model => model.Shengyuqybl)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Shengyuqygdjf)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Shengyuqygdjf)
    @Html.ValidationMessageFor(model => model.Shengyuqygdjf)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.NumberRule)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => model.NumberRule)
    @Html.ValidationMessageFor(model => model.NumberRule)
</div>